

 
   <p class="text-center">결과</p>
   <p class="text-center">신이 <%=@username%> 만들때</p>
 
 <div class="col-xs-6 col-md-4">
       <%=@what[0]%>을 <%=@spoon[0]%> 스푼 <br>
     <img src="/assets/result_1.png" alt="result_1" />
 </div>
 
  <div class="col-xs-6 col-md-4">
   <%=@what[1]%>을 <%=@spoon[1]%> 스푼 <br>
      <img src="/assets/result_2.png" alt="result_2" />
      
  </div>
  
  <div class="col-xs-6 col-md-4">
      <%=@what[2]%>을 으아아악<br>
      <img src="/assets/result_3.png" alt="result_3" />
  </div>



